.form {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: rgb(50, 204, 127);
    border: 2px solid rgb(2, 24, 27);
    border-radius: 5px;
    margin: 4px;
    height: 30px;
    width: 200px;
    font-size: 1rem;
    cursor: pointer;
}
.cityName {
    border: 2px solid rgb(2, 24, 27);
    border-radius: 8px;
    margin: 4px;    
    height: 26px;
    width: 200px;
    background-color: rgb(50, 204, 127);
}