.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 204, 127);
    min-height: 50px;
    font-size: 2rem;
    font-weight: 700;
    color: darkslategray;;
}